@media (min-width: 768px) {
    .header {
        .top-nav {
            display: flex;
        }

        .top-bar {
            .left-side {
                .col {
                    margin-right: 30px;
                }
                
                .logo {
                    img {
                        max-width: 63px;
                        max-height: 63px;
                    }

                    .logo-context {
                        display: block;
                    }
                }
            }
        }

        .bottom-bar {
            .catalog-menu {
                display: flex;
            }

            .search {
                max-width: 520px;

                label {
                    .search-input {
                        padding-left: 40px;
                    }

                    .btn-search {
                        max-width: 180px;
                    }
                }
            }
        }
    }

    .slider {
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .swiper-content {
                        .text {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }

    .banner-col {
        flex: 1 0 45%;
        margin: 0 8px;

        &:first-of-type {
            margin-left: 0;
        }
    
        &:last-of-type {
            margin-right: 0;
        }
    }

    .product-card {
        flex: 1 0 45%;
        max-width: 370px;
        margin: 10px 8px;

        .product-card__img-block {
            .btn-fav {
                width: 35px;
                right: 5px;
                border-radius: 50%;
                transform: translateX(0);

                .text {
                    display: none;
                }
            }
        }
    }

    .catalog-aside {
        .nav-catalog-toggle {
            display: none;
        }

        .nav-catalog {
            width: 45%;
            top: 0;
            height: 100%;
            padding-top: 30px;
        }
    }

    .catalog {
        margin-bottom: 0;
        .top-wrap {
            flex-direction: row;
            margin-top: 45px;
            margin-bottom: 40px;

            .subtitle {
                display: none;
                margin-top: 0;
            }

            .sort {
                display: flex;
            }
        }

        .products {
            .row {
                .product-card {
                    &:nth-of-type(odd) {
                        margin-left: 0;
                    }
            
                    &:nth-of-type(even) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .footer {
        display: block;

        .left-side {
            flex: 1 0 50%;
        }

        .right-side {
            flex: 1 0 45%;
        }
    }

    .mobile-panel {
        display: none;
    }

    .products-control {
        display: none;
    }
}

@media (min-width: 992px) {
    .header {
        .top-bar {
            .left-side {
                flex: 1 0 10%;
            }

            .mid-side {
                flex-direction: row;

                .phone-link {
                    flex-direction: column !important;
                    margin-top: 0;
                }
            }

            .right-side {
                display: flex;
            }
        }

        .bottom-bar {
            .search {
                max-width: 700px;
            }
        }
    }

    .product-card {
        flex: 1 0 25%;
        max-width: 255px;

        .product-card__img-block {
            height: 235px;
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    .catalog-aside {
        flex: 1 0 30%;

        .nav-catalog {
            display: block;
            position: static;
            padding-top: 0;
            padding-left: 0;
            width: unset;
            background: transparent;

            .close {
                display: none;
            }
        }
    }

    .catalog {
        .products {
            flex: 1 0 70%;
            .row {
                .product-card {
                    &:nth-of-type(odd) {
                        margin-left: 8px;
                    }
            
                    &:nth-of-type(even) {
                        margin-right: 8px;
                    }
            
                    &:nth-of-type(3n+1) {
                        margin-left: 0;
                    }
                
                    &:nth-of-type(3n+3) {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .footer {
        .left-side {
            flex: 1 0 40%;
        }

        .right-side {
            flex: 1 0 60%;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        .shop-nav {
            display: flex;
        }

        .bottom-bar {
            .search {
                max-width: 770px;
            }
        }
    }

    .catalog {
        .top-wrap {
            .sort {
                flex: 1 0 70%;
            }
        }
    }
}