* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #181818;
}

a {
  color: #181818;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  max-width: 1120px;
  width: 100%;
  padding: 0 25px;
  margin: 0 auto;
}

button {
  border-style: none;
}

.nav .nav-list {
  display: flex;
}
.nav .nav-list .nav-item {
  text-align: center;
}
.nav .nav-list .nav-item .nav-link {
  text-transform: uppercase;
}
.nav .nav-list .nav-item .nav-link.active, .nav .nav-list .nav-item .nav-link:hover {
  font-weight: 700;
  color: #181818 !important;
  letter-spacing: 0;
}
.nav .nav-list .nav-item .nav-link::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 18px;
  margin-right: 15px;
}
.burger .icon {
  width: 80%;
  height: 2px;
  margin: auto;
  background: #8A8A8A;
  border-radius: 5px;
}
.burger .icon::before, .burger .icon::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #8A8A8A;
  border-radius: 5px;
}
.burger .icon::before {
  width: 100%;
  top: 0;
}
.burger .icon::after {
  width: 60%;
  bottom: 0;
}

section .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.breadcrumb-wrap {
  margin-top: 25px;
}
.breadcrumb-wrap .breadcrumb__list {
  display: flex;
}
.breadcrumb-wrap .breadcrumb__list .breadcrumb__item::before {
  content: "/";
  margin-right: -4px;
}
.breadcrumb-wrap .breadcrumb__list .breadcrumb__item:first-of-type::before {
  display: none;
}

.catalog-aside {
  flex: 1 0 30%;
}
.catalog-aside .nav-catalog .catalog-list {
  flex-direction: column;
}
.catalog-aside .nav-catalog .catalog-list .nav-item {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.catalog-aside .nav-catalog .catalog-list .dropdown-item .dropdown-list {
  display: flex;
  flex-direction: column;
  padding-left: 15px !important;
}
.catalog-aside .nav-catalog .catalog-list .dropdown-item .dropdown-list .nav-item {
  font-weight: 400;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pagination span {
  margin-right: 15px;
}
.pagination .pag-list {
  display: flex;
}
.pagination .pag-list .pag-item {
  position: relative;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  overflow: hidden;
}
.pagination .pag-list .pag-item .pag-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: auto;
}
.pagination .pag-list .pag-item:not(.points) {
  background: #F6F6F6;
}
.pagination .pag-list .pag-item:not(.points):hover .pag-link, .pagination .pag-list .pag-item:not(.points).active .pag-link {
  color: #ffffff;
  background: #181818;
  cursor: pointer;
}
.pagination .pag-list .pag-item:first-of-type {
  margin-left: 0;
}
.pagination .pag-list .pag-item:last-of-type {
  margin-right: 0;
}

.header {
  padding-top: 10px;
}
.header .top-nav {
  display: none;
  justify-content: flex-end;
}
.header .top-nav .nav-list .nav-item {
  padding: 0 20px;
}
.header .top-nav .nav-list .nav-item .nav-link {
  color: #8A8A8A;
  font-size: 10px;
}
.header .top-nav .nav-list .nav-item:first-of-type {
  padding-left: 0;
}
.header .top-nav .nav-list .nav-item:last-of-type {
  padding-right: 0;
}
.header .top-bar {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.header .top-bar .mid-side, .header .top-bar .right-side {
  display: flex;
  align-items: center;
}
.header .top-bar .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}
.header .top-bar .link .icon {
  font-size: 20px;
}
.header .top-bar .left-side .col {
  margin-right: 15px;
}
.header .top-bar .left-side .logo {
  display: flex;
  flex-direction: column;
}
.header .top-bar .left-side .logo img {
  max-width: 63px;
  max-height: 63px;
  width: 100%;
  height: 100%;
}
.header .top-bar .left-side .logo .logo-context {
  display: none;
  margin-top: 5px;
  font-size: 7px;
}
.header .top-bar .mid-side {
  flex: 1 0 60%;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.header .top-bar .mid-side .phone-link {
  flex-direction: row !important;
  margin: 0 20px;
  margin-top: 15px;
}
.header .top-bar .mid-side .site-context {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.header .top-bar .right-side {
  display: none;
  justify-content: flex-end;
  flex: 1 0 30%;
}
.header .top-bar .right-side .col {
  margin: 0 20px;
}
.header .top-bar .right-side .col:last-of-type {
  margin-right: 0;
}
.header .top-bar .right-side .link {
  font-size: 10px;
}
.header .bottom-bar {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .bottom-bar .catalog-menu {
  max-width: 178px;
  width: 100%;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #181818;
  border-radius: 40px;
  cursor: pointer;
}
.header .bottom-bar .catalog-menu .burger .icon {
  background: #ffffff;
}
.header .bottom-bar .catalog-menu .burger .icon::before, .header .bottom-bar .catalog-menu .burger .icon::after {
  background: #ffffff;
}
.header .bottom-bar .search {
  position: relative;
  max-width: 772px;
  width: 100%;
  height: 44px;
}
.header .bottom-bar .search label {
  width: 100%;
  height: 100%;
}
.header .bottom-bar .search label .search-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-radius: 40px;
  border-style: none;
  border: 2px solid #181818;
}
.header .bottom-bar .search label .search-input::placeholder {
  font-size: 14px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  color: #181818;
  line-height: 17px;
}
.header .bottom-bar .search label .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 150px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #181818;
  border-radius: 40px;
  cursor: pointer;
}
.header .shop-nav {
  display: none;
  padding-top: 15px;
}
.header .shop-nav .nav-list {
  width: 100%;
  justify-content: space-between;
}
.header .shop-nav .nav-list .nav-item .nav-link {
  font-size: 12px;
}
.header .shop-nav .nav-list .nav-item .nav-link.active, .header .shop-nav .nav-list .nav-item .nav-link:hover {
  font-weight: 900;
}
.header .shop-nav .nav-list .nav-item:first-of-type {
  padding-left: 0;
}
.header .shop-nav .nav-list .nav-item:last-of-type {
  padding-right: 0;
}

.slider {
  padding-top: 40px;
  padding-bottom: 45px;
}
.slider .swiper {
  height: 245px;
  border-radius: 10px;
  overflow: hidden;
}
.slider .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-img {
  height: 100%;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-content .text {
  margin-bottom: 20px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
.slider .swiper .swiper-wrapper .swiper-slide .swiper-content .catalog-link {
  max-width: 192px;
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #181818;
  border-radius: 40px;
  cursor: pointer;
}

.banner-col {
  position: relative;
  max-width: 527px;
  width: 100%;
  height: 188px;
  margin: 0 8px;
  border-radius: 10px;
  overflow: hidden;
}
.banner-col a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.banner-col .banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner-col .banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-col .banner-content {
  position: absolute;
  top: 0;
}
.banner-col .banner-content p {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
.banner-col:first-of-type {
  margin-left: 0;
}
.banner-col:last-of-type {
  margin-right: 0;
}

.product-card {
  width: 100%;
  margin: 10px 0;
}
.product-card .product-card__img-block {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background: #8A8A8A;
  border-radius: 10px;
  overflow: hidden;
}
.product-card .product-card__img-block .btn-fav {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.product-card .product-card__img-block .btn-fav span::before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 16px;
}
.product-card .product-card__img-block .btn-fav:hover span::before, .product-card .product-card__img-block .btn-fav.active span::before {
  font-weight: 900;
}
.product-card .product-card__content .colors-row {
  margin: 10px 0;
}
.product-card .product-card__content .colors-row .color {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
}
.product-card .product-card__content .colors-row .color:first-of-type {
  margin-left: 0;
}
.product-card .product-card__content .colors-row .color:last-of-type {
  margin-right: 0;
}
.product-card .product-card__content .product-card__price {
  display: flex;
  justify-content: space-between;
}
.product-card .product-card__content .product-card__price .product-card__price, .product-card .product-card__content .product-card__price .product-card__wholesale-price {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.product-card .product-card__content .product-card__price .product-card__price small, .product-card .product-card__content .product-card__price .product-card__wholesale-price small {
  font-weight: normal;
}
.product-card .product-card__content .product-card__price .product-card__wholesale-price {
  color: #FF6565;
}
.product-card .product-card__content .product-card__price .quantity_control {
  display: flex;
}
.product-card .product-card__content .product-card__price .quantity_control .btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.product-card .product-card__content .product-card__price .quantity_control .quantity__value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}
.product-card .product-card__footer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.product-card .product-card__footer .in-basket {
  max-width: 135px;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #181818;
  border-radius: 40px;
  cursor: pointer;
}
.product-card .product-card__footer .in-basket:hover {
  color: #181818;
  background: #ffffff;
  border: 1px solid #181818;
}
.product-card .product-card__footer .waiting {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  text-transform: uppercase;
  cursor: auto !important;
  color: #ffffff;
  background: #181818;
  border-radius: 40px;
  cursor: pointer;
}
.product-card:last-of-type {
  margin-bottom: 0;
}
.product-card.disabled .product-card__img-block, .product-card.disabled .product-card__content {
  opacity: 0.5;
}
.product-card.disabled .product-card__content .product-card__price .quantity_control {
  display: none;
}
.product-card.disabled .product-card__footer .in-basket {
  display: none;
}
.product-card.disabled .product-card__footer .waiting {
  display: flex;
}

.catalog .wrap {
  display: flex;
}
.catalog .products .row {
  margin-top: 0;
}

.footer {
  display: none;
  padding-top: 15px;
  padding-bottom: 25px;
  background: #181818;
}
.footer .container {
  display: flex;
}
.footer .left-side {
  display: flex;
  justify-content: space-between;
  flex: 1 0 40%;
}
.footer .left-side .footer-nav .nav-list .nav-col {
  margin: 0 20px;
}
.footer .left-side .footer-nav .nav-list .nav-col:first-of-type {
  margin-left: 0;
}
.footer .left-side .footer-nav .nav-list .nav-col:last-of-type {
  margin-right: 0;
}
.footer .left-side .footer-nav .nav-list .nav-item {
  text-align: left;
}
.footer .left-side .footer-nav .nav-list .nav-item .nav-link {
  color: #ffffff;
}
.footer .left-side .footer-nav .nav-list .nav-item .nav-link:hover {
  color: #ffffff !important;
}
.footer .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 0 60%;
}
.footer .right-side .payments-row {
  display: flex;
}
.footer .right-side .payments-row span {
  max-width: 100px;
  width: 100%;
  height: 30px;
  padding: 3px;
  margin: 0 5px;
  border-radius: 4px;
  box-shadow: 0 0 3px black;
  background: #ffffff;
}
.footer .right-side .payments-row span img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer .right-side .payments-row span:first-of-type {
  margin-left: 0;
}
.footer .right-side .payments-row span:last-of-type {
  margin-right: 0;
}
.footer .right-side .copyright {
  display: flex;
  color: #ffffff;
}
.footer .right-side .copyright .text {
  font-size: 12px;
  text-align: center;
}
.footer .right-side .copyright .socials-row {
  margin-left: 15px;
}
.footer .right-side .copyright .socials-row .link {
  margin: 0 5px;
  font-size: 22px;
  color: #ffffff;
}
.footer .right-side .copyright .socials-row span:first-of-type {
  margin-left: 0;
}
.footer .right-side .copyright .socials-row span:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  .header .top-nav {
    display: flex;
  }
  .header .top-bar .left-side .col {
    margin-right: 30px;
  }
  .header .top-bar .left-side .logo .logo-context {
    display: block;
  }
  .header .bottom-bar .catalog-menu {
    display: flex;
  }
  .header .bottom-bar .search {
    max-width: 520px;
  }
  .header .bottom-bar .search label .search-input {
    padding-left: 40px;
  }
  .header .bottom-bar .search label .btn-search {
    max-width: 180px;
  }

  .slider .swiper .swiper-wrapper .swiper-slide .swiper-content .text {
    font-size: 40px;
  }

  .product-card {
    flex: 1 0 45%;
    max-width: 370px;
    margin: 10px 8px;
  }

  .footer {
    display: block;
  }
  .footer .left-side {
    flex: 1 0 50%;
  }
  .footer .right-side {
    flex: 1 0 45%;
  }
}
@media (min-width: 992px) {
  .header .top-bar .left-side {
    flex: 1 0 10%;
  }
  .header .top-bar .mid-side {
    flex-direction: row;
  }
  .header .top-bar .mid-side .phone-link {
    flex-direction: column !important;
    margin-top: 0;
  }
  .header .top-bar .right-side {
    display: flex;
  }
  .header .bottom-bar .search {
    max-width: 770px;
  }
  .header .shop-nav {
    display: flex;
  }

  .product-card {
    flex: 1 0 25%;
    max-width: 255px;
  }
  .product-card .product-card__img-block {
    height: 235px;
  }
  .product-card:first-of-type {
    margin-left: 0;
  }
  .product-card:last-of-type {
    margin-right: 0;
  }

  .footer .left-side {
    flex: 1 0 40%;
  }
  .footer .right-side {
    flex: 1 0 60%;
  }
}

/*# sourceMappingURL=main.css.map */
